<div class = 'row'>
	<div class = 'span8'>
		<div class="hero-unit">
		  <h1>Erik Gibbons</h1>
		  <p>Does <em>Erik Gibbons</em> = fail? Find out for yourself...</p>
		  <p>
		    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-large' %>
		  </p>
		</div>
	</div>
	<div class = 'span4'>
		<% if user_signed_in? %>
			<h1>You're logged in </h1>
		<% end %>
	</div>
</div>