<div class = 'row'>
	<div class = 'span8'>
		<div class="hero-unit">
		  <h1>Erik Gibbons</h1>
		  <p>Does Erik Gibbons really = fail? Find out for yourself...</p>
		  <p>
		    <%= link_to 'Learn More', erik_path, class: 'btn btn-primary btn-large' %>
		  </p>
		</div>
	</div>
	<div class = 'span4'>
		<h2>Navigation Bar</h2>
	</div>
</div>